<?xml version="1.0" encoding="ISO-8859-15"?>
<OX>
    <OXMENU id="NAVIGATION_ESHOPADMIN">
        <MAINMENU id="mxmainmenu">
            <SUBMENU id="mxcountries" cl="country" list="country_list">
                <TAB id="oevattbe_country_vat_groups" cl="oevattbecountryvatgroups"/>
            </SUBMENU>
        </MAINMENU>
    </OXMENU>
</OX>