{% extends 'page/checkout/inc/basketcontents_table.html.twig' %}

{% block checkout_basketcontents_basketitem_vat %}
    {# product VAT percent #}
    <td class="vatPercent">
        {% if oView.isOeVATTBETBEArticleValid(basketitem) %}
            {{ basketitem.getVatPercent() }}%
            {% if oView.oeVATTBEShowVATTBEMark(basketitem) %}
                {% set markGenerator = oView.getBasketContentMarkGenerator() %}
                {{ markGenerator.getMark('tbeService') }}
            {% endif %}
        {% else %}
            -
        {% endif %}
    </td>
{% endblock %}